form input {
  padding: 11px;
  outline: none;
  border-radius: 3px;
  width: 200px;
  margin-top: 60px ;
}
form button {
  padding: 10px;
  background-color: blue;
  color: white;
  outline: none;
  border-radius: 3px;
  border: none;
}
.form-container{
margin-top: 55px;
}
@media screen and (max-width: 768px) {
  form input {
    padding:  9px 0;
    outline: none;
    border-radius: 3px;
    width: 150px;
    margin-top: 10px;
  }
    form{
      margin: 45px 0;
    }
}
