.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;
    width: auto;
}
.recip{
    width: 60%;
   
}
.r-ingred{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ing{
    position: absolute;
    left: 40px;

}

@media screen and (min-width: 768px){
  .recip{
    width: 100%
  }  

    .categories {
     
      margin-top: 45px;
    
    }

}
    
